#btn_cargar_datos{
  
  margin-top:80px;
  width:100%;
  height:80px;
  background-color:#3463b7;
  color:White;
  border-radius:10%;
  
}
form{
  
  margin-bottom:20px;
  font-size:20px;
}
h1{
  margin-top:80px;
  font-size:60px;
  background-color:Coral;
 text-align:center;
 background-color:#457e8e;
 color:White;
 font-family: 'Aboreto';
}
#datos_personales{
  
  margin-top:60px;
  
}
#nombre_apellido{
  font-size:20px;
  margin-bottom:80px;
}

#experiencia_laboral{
  margin-top:80px;
}
#habilidades{
  margin-top:80px;
}
#historial_academico{
  margin-top:40px;
}

#plantilla3{
  background-image:url("../fondo.jpg");
}
#plantilla2{
  background-color:#ffeccb
}
#fondo3{
  margin-top:50px;
}
#boton_siguiente{
  
  margin-top:50px;
}
